<h2 class="sub-header">欢迎来到后台管理页面</h2>
<div class=" row">
    <if condition="$Think.session.userinfo.group_id eq 1">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="javascript:;" data-original-title="6 new members.">
            <i class="glyphicon glyphicon-user blue"></i>
            <div>已开通商户</div>
            <span class="notification">{$user_number}</span>
        </a>
    </div>
    </if>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="__MODULE__/Resource/list" data-original-title="4 new pro members.">
            <i class="glyphicon glyphicon-star green"></i>
            <div>已打印纸张</div>
            <span class="notification green">{$printed_number}</span>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="javascript:;" data-original-title="$34 new sales.">
            <i class="glyphicon glyphicon-facetime-video yellow"></i>
            <div>已上传资源</div>
            <span class="notification yellow">{$res_number}</span>
        </a>
    </div>

    <if condition="$Think.session.userinfo.group_id neq 1">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="__MODULE__/Weixin/fans" data-original-title="12 new messages.">
            <i class="glyphicon glyphicon-envelope red"></i>
            <div>关注粉丝数量</div>
            <span class="notification red">{$totalfans_number}</span>
        </a>
    </div>
    </if>
</div>

<form name="exportform" id="exportform" method="post" action=""></form>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$flotchart_title}</h2>

                <div class="box-icon">
                    <a href="javascript:;" class="btn btn-setting btn-round btn-default" id="exportflot"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="javascript:;" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="flotchart" class="center" style="height:300px"></div>
            </div>
        </div>
    </div>
    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$piechart_title}</h2>

                <div class="box-icon">
                    <a href="javascript:;" class="btn btn-setting btn-round btn-default" id="exportpie"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="javascript:;" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="piechart" style="height:300px"></div>
            </div>
        </div>
    </div>

    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$realchart_title}</h2>

                <div class="box-icon">
                    <a href="javascript:;" class="btn btn-setting btn-round btn-default" id="exportreal"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="javascript:;" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="realtimechart" style="height:300px;"></div>
            </div>
        </div>
    </div>

    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$donutchart_title}</h2>

                <div class="box-icon">
                    <a href="javascript:;" class="btn btn-setting btn-round btn-default" id="exportdonut"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="javascript:;" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="donutchart" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->

<script src="/js/echarts/echarts.js"></script>
<script type="text/javascript">
    $(function () {
        $("#exportflot,#exportpie,#exportreal,#exportdonut").click(function () {
            var exportform = $("#exportform");
            if (this.id == "exportflot") {
                exportform.attr("action","__MODULE__/Index/exportflot");
            } else if (this.id == "exportpie") {
                exportform.attr("action","__MODULE__/Index/exportpie");
            } else if (this.id == "exportreal") {
                exportform.attr("action","__MODULE__/Index/exportreal");
            } else if (this.id == "exportdonut") {
                exportform.attr("action","__MODULE__/Index/exportdonut");
            }
            var formaction = exportform.attr("action");
            if (formaction) {
                exportform.submit();
            }
        });
    });
    require.config({
        paths: {
            echarts: '/js/echarts'
        }
    });
    
    require(
        ['echarts', 'echarts/chart/line'],
        function (ec) {
            var myChart = ec.init(document.getElementById('flotchart')); 
            
            var option = {
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:["{$flotchart_name}"]
                },
                toolbox: {
                    show : true,
                    feature : {
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ["{$daterange}"]
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {$flotchart_data}
                ]
            };
            myChart.setOption(option); 
        }
    );

    require(
        ['echarts', 'echarts/chart/pie'],
        function (ec) {
            var myChart = ec.init(document.getElementById('piechart')); 
            
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:["{$piechart_name}"]
                },
                toolbox: {
                    show : true,
                    feature : {
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {$piechart_data}
                        ]
                    }
                ]
            };
            myChart.setOption(option); 
        }
    );

    require(
        ['echarts', 'echarts/chart/pie'],
        function (ec) {
            var myChart = ec.init(document.getElementById('donutchart')); 
            
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:["{$donutchart_name}"]
                },
                toolbox: {
                    show : true,
                    feature : {
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '30',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {$donutchart_data}
                        ]
                    }
                ]
            };
            myChart.setOption(option); 
        }
    );

    require(
        ['echarts', 'echarts/chart/pie'],
        function (ec) {
            var myChart = ec.init(document.getElementById('realtimechart')); 
            
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:["{$realchart_name}"]
                },
                toolbox: {
                    show : true,
                    feature : {
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {$realchart_data}
                        ]
                    }
                ]
            };
            myChart.setOption(option); 
        }
    );
</script>