<h2 class="sub-header">欢迎来到后台管理页面</h2>
<div class=" row">
    <if condition="$Think.session.userinfo.group_id eq 1">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="javascript:;" data-original-title="6 new members.">
            <i class="glyphicon glyphicon-user blue"></i>
            <div>已开通商户</div>
            <span class="notification">{$user_number}</span>
        </a>
    </div>
    </if>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="__MODULE__/Resource/list" data-original-title="4 new pro members.">
            <i class="glyphicon glyphicon-star green"></i>
            <div>已打印纸张</div>
            <span class="notification green">{$printed_number}</span>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="javascript:;" data-original-title="$34 new sales.">
            <i class="glyphicon glyphicon-facetime-video yellow"></i>
            <div>已上传资源</div>
            <span class="notification yellow">{$res_number}</span>
        </a>
    </div>

    <if condition="$Think.session.userinfo.group_id neq 1">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="__MODULE__/Weixin/fans" data-original-title="12 new messages.">
            <i class="glyphicon glyphicon-envelope red"></i>
            <div>关注粉丝数量</div>
            <span class="notification red">{$totalfans_number}</span>
        </a>
    </div>
    </if>
</div>


<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$flotchart_title}</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="flotchart" class="center" style="height:300px"></div>
            </div>
        </div>
    </div>
    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$piechart_title}</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="piechart" style="height:300px"></div>
            </div>
        </div>
    </div>

    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> 实时打印趋势</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="realtimechart" style="height:190px;"></div>
                <p>你可以在此监控服务器压力情况</p>

                <p>更新周期: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> 秒</p>
            </div>
        </div>
    </div>

    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-list-alt"></i> {$donutchart_title}</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="donutchart" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->

 <script src="/js/echarts/echarts.js"></script>
 <script type="text/javascript">
        require.config({
            paths: {
                echarts: '/js/echarts'
            }
        });
        
        require(
            ['echarts', 'echarts/chart/line'],
            function (ec) {
                var myChart = ec.init(document.getElementById('flotchart')); 
                
                var option = {
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:["{$flotchart_name}"]
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ["{$daterange}"]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {$flotchart_data}
                    ]
                };
                myChart.setOption(option); 
            }
        );

        require(
            ['echarts', 'echarts/chart/pie'],
            function (ec) {
                var myChart = ec.init(document.getElementById('piechart')); 
                
                var option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:["{$piechart_name}"]
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {$piechart_data}
                            ]
                        }
                    ]
                };
                myChart.setOption(option); 
            }
        );

        require(
            ['echarts', 'echarts/chart/pie'],
            function (ec) {
                var myChart = ec.init(document.getElementById('donutchart')); 
                
                var option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:["{$donutchart_name}"]
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius : ['50%', '70%'],
                            itemStyle : {
                                normal : {
                                    label : {
                                        show : false
                                    },
                                    labelLine : {
                                        show : false
                                    }
                                },
                                emphasis : {
                                    label : {
                                        show : true,
                                        position : 'center',
                                        textStyle : {
                                            fontSize : '30',
                                            fontWeight : 'bold'
                                        }
                                    }
                                }
                            },
                            data:[
                                {$donutchart_data}
                            ]
                        }
                    ]
                };
                myChart.setOption(option); 
            }
        );
    </script>
<script src="/bower_components/flot/excanvas.min.js"></script>
<script src="/bower_components/flot/jquery.flot.js"></script>
<script src="/bower_components/flot/jquery.flot.pie.js"></script>
<script src="/bower_components/flot/jquery.flot.stack.js"></script>
<script src="/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/js/init-chart.js"></script>