{__NOLAYOUT__}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>播放留言</title>
<style type="text/css">
#startbtn,#pausebtn,#stopbtn{
    width: 80%;
    height: 40px;
    border: 0px;
    background-color: rgb(255, 116, 0);
    color: #fff;
}
</style>
<script src="/js/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
$(function () {
    wx.config({
        debug: true,
        appId: '{$wxinfo.weixin_appid}',
        timestamp: {$signPackage.timestamp},
        nonceStr: '{$signPackage.nonceStr}',
        signature: '{$signPackage.signature}',
        jsApiList: ['startRecord','stopRecord','onVoiceRecordEnd','playVoice','pauseVoice','stopVoice','onVoicePlayEnd','uploadVoice','downloadVoice']
    });
    var localId = '';
    wx.ready(function(){
        wx.downloadVoice({
            serverId: '{$media_id}', // 需要下载的音频的服务器端ID，由uploadVoice接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                localId = res.localId; // 返回音频的本地ID
                wx.playVoice({
                    localId: localId
                });
            }
        });
    });

    $("#startbtn").click(function () {
        wx.playVoice({
            localId: localId
        });
    });

    $("#pausebtn").click(function () {
        wx.pauseVoice({
            localId: localId
        });
    });

    $("#stopbtn").click(function () {
        wx.stopVoice({
            localId: localId
        });
    });
});
</script>
</head>
<body>
<input type="button" value="重新播放" id="startbtn">
<input type="button" value="暂停播放" id="pausebtn">
<input type="button" value="停止播放" id="stopbtn">
</body>
</html>