{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>图片剪裁</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- <script src="/js/jquery.min.js"></script>-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="/js/jquery.jcrop.js?version=1"></script>
    <script src="/js/weixin.js"></script>

    <link rel="stylesheet" href="/css/jquery.jcrop.css?version=1" type="text/css" />

    <script type="text/javascript">

    </script>
    <style type="text/css">
        #saveBtn,#okbtn{
            width: 80%;
            margin-top: 10px;
            height: 40px;
            border: 0px;
         
            color: #fff;
        }
        #target {
            background-color: #ccc;
            width: 500px;
            height: 330px;
            font-size: 24px;
            display: block;
        }
        #mcover {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: none;
            z-index: 20000;
        }
        #mcover img {
            position: fixed;
            right: 28px;
            top: 25%;
            width: 260px!important;
            height: 180px!important;
            z-index: 20001;
        }
        .resize{position: absolute}
        .resize img{position:absolute}
        .resize #r1{z-index: 99}
        .thumb ul li {list-style: none;float: left}
        .thumb ul li img {width:33px}
    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="jc-demo-box">

                <div class="resize">
                    <img id="r1" class="r1" src="/image/2.png"  />
                    <!--                    <div  id="r2" class="r2">  -->
                    <img  id="r2" class="r2"  src="{$picinfo.picurl}"  />
                    <!--   </div>-->

                </div>


                <div id="status"></div>

            </div>
        </div>

    </div>
</div>
<div style="margin-top: 400px">


  <div class="thumb" style="height: 40px">
      <ul>
          <li><img src="/image/2.png" > </li>
          <li><img src="/image/3.png" > </li>
          <li><img src="/image/4.png" > </li>
          <li><img src="/image/5.png" > </li>
      </ul>
  </div>
    <form class="full-width-slider">
            <label for="slider-12" class="ui-hidden-accessible">Slider:</label>
            <input type="range" name="slider-12" id="slider-12" min="0" max="150" value="100">
        <input type="button" value="确定裁剪" id="saveBtn" class="btn btn-large btn-inverse">

    </form>
</div>

<div id="mcover" onclick="document.getElementById('mcover').style.display='';" style="display: none;">
    <img src="/img/guide.png">
</div>


</body>
<script>

    $(function(){
        $(".thumb ul li img").on("click",function(){
            var _self=this;
            $("#r1").attr("src",$(_self).attr("src"));
        })
        var picWidth;
        $("#r2").attr("src", "{$picinfo.picurl}").load(function() {
              picWidth= $("#r2").css("width").replace("px","");
        });

        $( "#slider-12" ).on( "slidestop", function( event, ui ) {
           var num= $("#slider-12").val();
            $("#r2").css("width",picWidth*(num/100)+"px");
            console.log(event);
            console.log(ui)
        } );


        var w=$("#r1").width()||"262px";
        var h=$("#r1").height()||"370px";
        $(".resize").css({"overflow":"hidden","width":w,"height":h})

        /*  $(".r1").on('touchmove',function(e){
         e
         })*/
        var oldx,oldy,moving=false;
        function handleTouchEvent(event) {
            //只跟踪一次触摸
            if (event.touches.length == 1) {

                switch (event.type) {
                    case "touchstart":
                        oldx= event.touches[0].clientX;
                        oldy= event.touches[0].clientY;
                        console.log("Touch started (" + event.touches[0].clientX + "," + event.touches[0].clientY + ")");
                        break;
                    case "touchend":
                        moving=false;
                        console.log( "Touch ended (" + event.changedTouches[0].clientX + "," + event.changeTouches[0].clientY + ")");
                        break;
                    case "touchmove":
                        moving=true
                        event.preventDefault(); //阻止滚动
                        var newx, newy,movex,movey;
                        newx=event.changedTouches[0].clientX;
                        newy=event.changedTouches[0].clientY;
                        movex=newx-oldx;
                        movey=newy-oldy;
                        if(moving) {oldx=newx;oldy=newy}
                        console.log( "Touch moved (图片坐标在："+$('#r2').offset().left+",鼠标移动了："+movex+":鼠标移动到了" + newx +"," + newy + ")");

                        $('#r2').css("left",$('#r2').offset().left+movex);
                        $('#r2').css("top",$('#r2').offset().top+movey);
                        console.log("图片坐标被移动到："+$('#r2').offset().left )
                    $("#status").html($('#r2').offset().left+":"+$('#r2').offset().top)

                        break;
                }
            }
        }
        document.getElementsByClassName('r1')[0].addEventListener("touchstart", handleTouchEvent, false);
        document.getElementsByClassName('r1')[0].addEventListener("touchend", handleTouchEvent, false);
        document.getElementsByClassName('r1')[0].addEventListener("touchmove", handleTouchEvent, false);
        var sfbl,//缩放比例
            offsetx,//x轴偏移量
             offsety//y轴偏移量
        var first=true;
        $("#saveBtn").on("click",function(){
            if(!first)
                return false;
            first=false;
            offsetx=$('#r2').offset().left;
            offsety=$('#r2').offset().top;
            sfbl=$("#slider-12").val()/100;


            $.ajax({
                type: "POST",
                url:"__MODULE__/Weixin/crop2?uid={$uid}",
                data:"offsetx="+offsetx+"&offsety="+offsety+"&sfbl="+sfbl+"&temppic="+$("#r1").attr("src")+"&originpic={$picinfo.imagename}&canvesw=262&canvesh=370"
            }).success(function(d){
                if (d == "error") {
                    alert("剪裁失败");
                } else {
                    $("h2").html("裁剪完成，分享之后即可打印");
                    $(".jcrop-holder").hide();
                    $("#status").html("<input onclick=\"document.getElementById('mcover').style.display='block';\" type='button' id='okbtn' class='submit btn' value='裁剪完成，点击分享即可打印'><img width='300' src='/upload/"+d+"' />");
                    $("#saveBtn").hide()
                    $('.resize').hide();
                    // 所有功能必须包含在 WeixinApi.ready 中进行
                    WeixinApi.ready(function(Api){

                        // 微信分享的数据
                        var wxData = {
                            "imgUrl":document.location.origin+"/upload/"+d,
                            "link":'http://mp.weixin.qq.com/s?__biz=MzA4ODQ2MzIxMQ==&mid=201638658&idx=1&sn=3f46f7cc26c21c60d6be2c9099d50e66#rd',
                            "desc":'我正在使用微谷云微信打印机打印照片呢！你也一起来参与吧！',
                            "title":"微谷云微信打印机"
                        };

                        // 分享的回调
                        var wxCallbacks = {
                            // 分享操作开始之前
                            ready:function () {
                                // 你可以在这里对分享的数据进行重组
                            },
                            // 分享被用户自动取消
                            cancel:function (resp) {
                                // 你可以在你的页面上给用户一个小Tip，为什么要取消呢？
                            },
                            // 分享失败了
                            fail:function (resp) {
                                // 分享失败了，是不是可以告诉用户：不要紧，可能是网络问题，一会儿再试试？
                            },
                            // 分享成功
                            confirm:function (resp) {
                                // 分享成功了，我们是不是可以做一些分享统计呢？
                                WeixinApi.closeWindow({
                                    success : function(resp){

                                    },
                                    fail : function(resp){

                                    }
                                });
                            },
                            // 整个分享过程结束
                            all:function (resp) {
                                // 如果你做的是一个鼓励用户进行分享的产品，在这里是不是可以给用户一些反馈了？
                            }
                        };

                        // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
                        Api.shareToFriend(wxData, wxCallbacks);

                        // 点击分享到朋友圈，会执行下面这个代码
                        Api.shareToTimeline(wxData, wxCallbacks);

                        // 点击分享到腾讯微博，会执行下面这个代码
                        Api.shareToWeibo(wxData, wxCallbacks);
                    });
                }
            });
        })
    })
</script>

</html>