<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">{$video1}</div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">{$image2}</div>
                <div class="col-md-3"><h3>{$printer_name}</h3><br>{$word1}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{$image3}</div>
                <div class="col-md-3">{$qrcode1}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">{$image1}</div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">{$image4}</div>
                <div class="col-md-3">{$code}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{$image5}</div>
                <div class="col-md-3">{$current_image}</div>
            </div>
        </div>
    </div>
</div>