<h2 class="sub-header">添加模板</h2>
<div class="row placeholders">
    <div class="col-md-7">
        <form class="form-horizontal" role="form" method="post" id="wxform" action="__MODULE__/Template/save" enctype="multipart/form-data">
            <div class="form-group">
              <label for="weixin_number" class="col-sm-3 control-label">模板显示名称</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="template_name" name="template_name" value="" required autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_number" class="col-sm-3 control-label">模板代码</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="template_code" name="template_code" value="" required>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_number" class="col-sm-3 control-label">图片个数</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="template_image" name="template_image" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_number" class="col-sm-3 control-label">视频个数</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="template_video" name="template_video" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_number" class="col-sm-3 control-label">广告个数</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="template_word" name="template_word" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_imgcode" class="col-sm-3 control-label">模板缩略图</label>
              <div class="col-sm-9">
                <input type="file" id="template_pic" name="template_pic">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="addbtn">添加</button>
              </div>
            </div>
          </form>
  </div>
</div>
<script type="text/javascript">
$(function () {
    $("#addbtn").click(function () {
        var template_name = $("#template_name").val();
        var template_code = $("#template_code").val();
        var template_pic = $("#template_pic").val();
        if (!template_name) {
            alert("请填写模板显示名称");
            return false;
        }
        if (!template_code) {
            alert("请选择模板代码");
            return false;
        }
        var reg= /^[A-Za-z0-9_]+$/;
        if (!reg.test(template_code)) {
            alert("模板代码只能是数字、字母和下划线");
            return false;
        } 
        if (!template_pic) {
            alert("请选择模板缩略图");
            return false;
        }
        $("#wxform").submit();
    });
});
</script>