<h2 class="sub-header">模板列表</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>模板显示名称</th>
            <th>模板代码</th>
            <th>图片个数</th>
            <th>视频个数</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <foreach name="tpllist" item="tpl">
          <tr>
            <td class="col-sm-2">{$tpl.template_name}</td>
            <td class="col-sm-2">{$tpl.template_code}</td>
            <td class="col-sm-2">{$tpl.template_image}</td>
            <td class="col-sm-2">{$tpl.template_video}</td>
            <td class="col-sm-2">
                <a href="__MODULE__/modtpl/{$tpl.template_id}">编辑</a>
                <a href="javascript:;" id="deltpl_{$tpl.template_id}">删除</a>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
      {$page}
    </div>
<script type="text/javascript">
$(function () {
    $("a[id^='deltpl_']").click(function () {
        if (confirm("删除此模板将导致所有使用该模板的设备改成使用默认模板。\n并且该设备显示的视频与图片也将删除。\n确认要删除此模板吗？")) {
            var id = this.id.split("_");
            location.href = "__MODULE__/deltpl/"+id[1];
        }
    });
});
</script>