<if condition="$Think.session.userinfo.group_id eq 1">
<h1 class="page-header">搜索粉丝</h1>
    <div class="row placeholders">
        <div class="col-md-7">
            <form class="form-horizontal" role="form" method="get" action="__MODULE__/Weixin/fans">
                <div class="form-group">
                  <label for="helpername" class="col-sm-2 control-label">是否关注</label>
                  <div class="col-sm-10">
                      <label class="radio-inline">
                          <input type="radio" name="is_follow" id="is_follow1" value="subscribe"<if condition="$is_follow eq 'subscribe'"> checked</if>> 已关注
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="is_follow" id="is_follow2" value="unsubscribe"<if condition="$is_follow eq 'unsubscribe'"> checked</if>> 取消关注
                      </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="helpername" class="col-sm-2 control-label">所属公众号</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="search_token">
                      <option value="">请选择用户组</option>
                    <foreach name="wxlist" item="wx">
                      <option value="{$wx.weixin_token}"<if condition="$wx.weixin_token eq $search_token"> selected</if>>{$wx.weixin_name}</option>
                    </foreach>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">搜索</button>
                  </div>
                </div>
              </form>
      </div>
    </div>
</if>
<h2 class="sub-header">粉丝列表</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>来源公众号</th>
            <th>关注状态</th>
            <th>关注日期</th>
            <th>上传资源数</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
        <foreach name="fanslist" item="fans">
          <tr>
            <td class="col-sm-2">{$fans.weixin_name}</td>
            <td class="col-sm-2"><if condition="$fans.user_follow eq 'subscribe'">已关注<else /> 取消关注</if></td>
            <td class="col-sm-2">{$fans.user_regdate}</td>
            <td class="col-sm-2">{$fans.resource_number}</td>
            <!-- <td class="col-sm-2">
                <a href="__MODULE__/viewfans/{$fans.user_id}">查看详情</a>
                <a href="javascript:;" id="delfans_{$fans.user_id}">删除</a>
            </td> -->
          </tr>
        </foreach>
        </tbody>
      </table>
      {$page}
    </div>
<script type="text/javascript">
$(function () {
    $("a[id^='delfans_']").click(function () {
        if (confirm("确认要删除此粉丝吗？")) {
            var id = this.id.split("_");
            location.href = "__MODULE__/delfans/"+id[1];
        }
    });
});
</script>