<h2 class="sub-header">公众号列表</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>公众号原始ID</th>
            <th>公众号名称</th>
            <th>Token</th>
            <th>AppID</th>
            <th>AppSecret</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <foreach name="wxlist" item="wx">
          <tr>
            <td class="col-sm-2">{$wx.weixin_number}</td>
            <td class="col-sm-2">{$wx.weixin_name}</td>
            <td class="col-sm-2">{$wx.weixin_token}</td>
            <td class="col-sm-2">{$wx.weixin_appid}</td>
            <td class="col-sm-2">{$wx.weixin_appsecret}</td>
            <td class="col-sm-2">
                <a href="__MODULE__/modweixin/{$wx.weixin_id}">编辑</a>
                <a href="javascript:;" id="delweixin_{$wx.weixin_id}">删除</a>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
      {$page}
    </div>
<script type="text/javascript">
$(function () {
    $("a[id^='delweixin_']").click(function () {
        if (confirm("确认要删除此公众号吗？")) {
            var id = this.id.split("_");
            location.href = "__MODULE__/delweixin/"+id[1];
        }
    });
});
</script>