<h2 class="sub-header">修改公众号</h2>
<div class="row placeholders">
    <div class="col-md-7">
        <form class="form-horizontal" role="form" method="post" id="wxform" action="__MODULE__/Weixin/save" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{$wxinfo.weixin_id}">
            <div class="form-group">
              <label for="weixin_number" class="col-sm-3 control-label">公众号原始ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="weixin_number" name="weixin_number" value="{$wxinfo.weixin_number}" required autofocus>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_name" class="col-sm-3 control-label">公众号名称</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="weixin_name" name="weixin_name" value="{$wxinfo.weixin_name}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_appid" class="col-sm-3 control-label">AppID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="weixin_appid" name="weixin_appid" value="{$wxinfo.weixin_appid}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_appsecret" class="col-sm-3 control-label">AppSecret</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="weixin_appsecret" name="weixin_appsecret" value="{$wxinfo.weixin_appsecret}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_callbackurl" class="col-sm-3 control-label">回调地址</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" id="weixin_callbackurl" name="weixin_callbackurl" value="{$wxinfo.weixin_callbackurl}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_token" class="col-sm-3 control-label">Token</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="weixin_token" name="weixin_token" value="{$wxinfo.weixin_token}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="weixin_imgcode" class="col-sm-3 control-label">二维码</label>
              <div class="col-sm-8">
                <input type="file" id="weixin_imgcode" name="weixin_imgcode">
                <if condition="$wxinfo.weixin_imgcode neq ''">
                      <img src="/upload/{$wxinfo.weixin_imgcode}" width="100" height="50">
                      <input type="checkbox" name="delweixin_imgcode" value='{$wxinfo.weixin_imgcode}'>删除二维码
                 </if>
              </div>
            </div>
            <if condition="$Think.session.userinfo.group_id eq 1">
            <div class="form-group">
              <label for="weixin_imgcode" class="col-sm-3 control-label">用户列表</label>
              <div class="col-sm-8">
                <select class="form-control" name="weixin_userid" id="weixin_userid">
                  <option value="">请选择用户</option>
                <foreach name="userlist" item="user">
                    <option value="{$user.user_id}"<eq name="$user.user_id" value="$wxinfo:weixin_userid"> selected</eq>>{$user.user_name}</option>
                </foreach>
                </select>
              </div>
            </div>
            </if>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="addbtn">修改</button>
              </div>
            </div>
          </form>
  </div>
</div>
<script type="text/javascript">
$(function () {
    $("#addbtn").click(function () {
        var weixin_number = $("#weixin_number").val();
        var weixin_name = $("#weixin_name").val();
        var weixin_appid = $("#weixin_appid").val();
        var weixin_appsecret = $("#weixin_appsecret").val();
        if (!weixin_number) {
            alert("请填写公众号原始ID");
            return false;
        }
        if (!weixin_name) {
            alert("请填写公众号名称");
            return false;
        }
        if (!weixin_appid) {
            alert("请填写AppID");
            return false;
        }
        if (!weixin_appsecret) {
            alert("请填写AppSecret");
            return false;
        }
        <if condition="$Think.session.userinfo.group_id eq 1">
        var weixin_userid = $("#weixin_userid").val();
        if (!weixin_userid) {
            alert("请选择用户");
            return false;
        }
        </if>
        $("#wxform").submit();
    });
});
</script>