<h2 class="sub-header">添加设备</h2>
<div class="row placeholders">
    <div class="col-md-7">
        <form class="form-horizontal" role="form" method="post" id="printerform" action="__MODULE__/printer/save" enctype="multipart/form-data">
            <div class="form-group">
              <label for="userid" class="col-sm-3 control-label">设备名称</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="printer_name" name="printer_name" value="" required autofocus>
              </div>
            </div>
			<div class="form-group">
              <label for="userid" class="col-sm-3 control-label">设备ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="printer_code" name="printer_code" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="userid" class="col-sm-3 control-label">设备类屏</label>
              <div class="col-sm-8">
                <label class="checkbox-inline">
                  <input type="radio" name="printer_type" value="1" checked> 横屏
                </label>
                <label class="checkbox-inline">
                  <input type="radio" name="printer_type" value="2"> 竖屏
                </label>
              </div>
            </div>
			<div class="form-group">
              <label for="userid" class="col-sm-3 control-label">公众帐号</label>
              <div class="col-sm-8">
				<select class="form-control" name="printer_weixin" id="printer_weixin">
					<option value="">请选择公众帐号</option>
					<foreach name="weixinlist" item="weixin">
					  <option value="{$weixin.weixin_token}">{$weixin.weixin_name}</option>
					</foreach>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="addbtn">添加</button>
              </div>
            </div>
          </form>
  </div>
</div>
<script type="text/javascript">
$(function () {
    $("#addbtn").click(function () {
        var printer_name = $("#printer_name").val();
		var printer_code = $("#printer_code").val();
        var printer_weixin = $("#printer_weixin").val();
        if (!printer_name) {
            alert("请填写设备名称");
            return false;
        }
		if (!printer_code) {
            alert("请填写消费码");
            return false;
        }
		var reg= /^[A-Za-z]+$/;
		if (printer_code.length != 3 || !reg.test(printer_code)) {
            alert("消费码只能是三位英文字母");
            return false;
        }
        if (!printer_weixin) {
            alert("请选择公众帐号");
            return false;
        }
        $("#printerform").submit();
    });
});
</script>