<h1 class="page-header">搜索设备</h1>
    <div class="row placeholders">
        <div class="col-md-7">
            <form class="form-horizontal" role="form" method="post" action="__MODULE__/Printer/list">
                <div class="form-group">
                  <label for="helpername" class="col-sm-2 control-label">设备名称</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="search_name" name="search_name" value="{$search_name}">
                  </div>
                </div>
				<div class="form-group">
                  <label for="helpername" class="col-sm-2 control-label">消费码</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="search_code" name="search_code" value="{$search_code}">
                  </div>
                </div>
				<div class="form-group">
                  <label for="helpername" class="col-sm-2 control-label">终端类型</label>
                  <div class="col-sm-10">
					  <label class="checkbox-inline">
						<input type="radio" name="search_type" value="1"<if condition="$search_type eq 1"> checked</if>> 模屏
					  </label>
					  <label class="checkbox-inline">
						<input type="radio" name="search_type" value="2"<if condition="$search_type eq 2"> checked</if>> 竖屏
					  </label>
                  </div>
                </div>
				<div class="form-group">
                  <label for="helpername" class="col-sm-2 control-label">公众帐号</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="search_weixin" name="search_weixin" value="{$search_weixin}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">搜索</button>
                  </div>
                </div>
			</form>
		</div>
    </div>

<h2 class="sub-header">设备列表</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>设备名称</th>
			<th>终端类型</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <foreach name="printerlist" item="printer">
          <tr>
            <td class="col-sm-2">{$printer.printer_name}</td>
            <td class="col-sm-2"><if condition="$printer.printer_type eq 1">横屏<else />竖屏</if></td>
            <td class="col-sm-2">
                <a href="__MODULE__/modprinter/{$printer.printer_id}">编辑</a>
                <a href="javascript:;" id="delprinter_{$printer.printer_id}">删除</a>
            </td>
          </tr>
        </foreach>
        </tbody>
      </table>
      {$page}
    </div>
<script type="text/javascript">
$(function () {
    $("a[id^='delprinter_']").click(function () {
        if (confirm("确认要删除此设备吗？")) {
            var id = this.id.split("_");
            location.href = "__MODULE__/delprinter/"+id[1];
        }
    });
});
</script>