<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<link href="/css/lightbox.css" rel="stylesheet">
<style> 
    #masonry 
    { 
        padding: 0; 
        width: 180px;
		height: 207px;
        margin: 0 auto; 
		float: left;
    } 
    #masonry .thumbnail 
    { 
        width: 150px;
		height: 183px;
        margin: 20px; 
        padding: 0; 
        border-width: 1px; 
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); 
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); 
    } 
    #masonry .thumbnail .imgs 
    { 
        padding: 10px; 
    } 
    #masonry .thumbnail .imgs img 
    { 
        margin-bottom: 5px; 
    } 
    #masonry .thumbnail .caption 
    { 
        background-color: #fff; 
        padding-top: 0; 
        font-size: 13px; 
		margin-top: -15px;
    } 
    #masonry .thumbnail .caption .title 
    { 
        font-size: 13px; 
        font-weight: normal; 
        margin: 5px 0; 
        text-align: center; 
    } 
    #masonry .thumbnail .caption .author 
    { 
        font-size: 11px; 
        text-align: right; 
    } 
    
</style>
<h2 class="sub-header">修改设备信息</h2>
<div class="row placeholders">
    <div class="col-md-7">
        <form class="form-horizontal" role="form" method="post" id="printerform" action="__MODULE__/Printer/save" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$printerinfo.printer_id}">
		<input type="hidden" name="printer_id" value="{$printerinfo.printer_id}">
            <div class="form-group">
              <label for="userid" class="col-sm-3 control-label">设备名称</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="printer_name" name="printer_name" value="{$printerinfo.printer_name}">
              </div>
            </div>
            <div class="form-group">
              <label for="userid" class="col-sm-3 control-label">设备ID</label>
			  <div class="col-sm-8">
                <input type="text" class="form-control" id="printer_code" name="printer_code" value="{$printerinfo.printer_code}">
              </div>
            </div>
            <div class="form-group">
              <label for="userid" class="col-sm-3 control-label">设备类型</label>
              <div class="col-sm-8">
                <label class="checkbox-inline">
                  <input type="radio" name="printer_type" value="1"<if condition="$printerinfo.printer_type eq 1"> checked</if>> 横屏
                </label>
                <label class="checkbox-inline">
                  <input type="radio" name="printer_type" value="2"<if condition="$printerinfo.printer_type eq 2"> checked</if>> 竖屏
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="userid" class="col-sm-3 control-label">公众帐号</label>
              <div class="col-sm-8">
				<select class="form-control" name="printer_weixin[]" multiple="multiple" id="printer_weixin">
					<option value="" disabled>请选择公众帐号</option>
					<foreach name="weixinlist" item="weixin">
					  <option value="{$weixin.weixin_token}" <in name="weixin.weixin_token" value="$wxArray">selected</in>>{$weixin.weixin_name}</option>
					</foreach>
                </select>
              </div>
            </div>
			<div class="form-group">
			  <label for="userid" class="col-sm-3 control-label">选择模板</label>
			  <div style="width: 550px;float:left;">
				<div id="masonry" class="container-fluid">
					<div class="thumbnail"> 
						<div class="imgs"> 
							<a class="example-image-link" href="/upload/default.jpg" data-lightbox="example-set" data-title="默认模板">
								<img class="example-image" src="/upload/default.jpg" alt="" width="130" height="130"/>
							</a>
						</div> 
						<div class="caption"> 
							<div class="title"><input type="radio" name="printer_template" value="0"<if condition="$printerinfo.printer_template eq 0"> checked</if>>默认模板</div> 
						</div> 
					</div> 
				</div>
				<foreach name="tpllist" item="template">
				<div id="masonry" class="container-fluid">
					<div class="thumbnail"> 
						<div class="imgs"> 
							<a class="example-image-link" href="/upload/{$template.template_pic}" data-lightbox="example-set" data-title="{$template.template_name}">
								<img class="example-image" src="/upload/{$template.template_pic}" alt="" width="130" height="160"/>
							</a>
						</div> 
						<div class="caption"> 
							<div class="title"><input type="radio" name="printer_template" value="{$template.template_id}"<if condition="$template.template_id eq $printerinfo['printer_template']"> checked</if>>{$template.template_name}</div> 
						</div> 
					</div> 
				</div>
				</foreach>
			 </div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">模板详细设置</label>
				<div class="col-sm-8" id="show_temp_detail_div" name="show_temp_detail_div">
					
				</div>
			</div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="addbtn">修改</button>
              </div>
            </div>
          </form>
	</div>
</div>
<script type="text/javascript">
$(function () {
	var video_type;
	initHtml({$printerinfo.printer_template}, {$printerinfo.printer_id});
	$("input[name=printer_template]").click(function(){
		var printer_template = $("input[name=printer_template]:checked").val();
		initHtml(printer_template, {$printerinfo.printer_id});
	});
    $("#addbtn").click(function () {
        var printer_name = $("#printer_name").val();
		var printer_code = $("#printer_code").val();
		var printer_weixin = $("#printer_weixin").val();
        if (!printer_name) {
            alert("请填写设备名称");
            return false;
        }
		if (!printer_code) {
            alert("请填写消费码");
            return false;
        }
		var reg= /^[A-Za-z]+$/;
		if (printer_code.length != 3) {
            alert("消费码只能是三位英文字母");
            return false;
        }
		if(!reg.test(printer_code)){
			alert("消费码只能是三位英文字母");
            return false;
		}
		if (!printer_weixin) {
            alert("请选择公共帐号");
            return false;
        }
        $("#printerform").submit();
    });
});
function initHtml(printer_template, printer_id){
	$.get("__MODULE__/Printer/gettemplatenum/",{ templateid: printer_template,printer_id: printer_id} ,function(result,status){
		var data = $.parseJSON(result);
		var i = 0;
		var returnHtml = "";
		var result = new Array();
		result = data['tplObj'];
		$("div[name=show_temp_detail_div]").html('');
		if(result == ""){
			for(i = 1; i <= data["template_video"]; i ++){
				returnHtml += "<div class=\"form-group\">";
				returnHtml += "	<label for=\"userid\" class=\"col-sm-3 control-label\">视频"+i+":</label>";
				returnHtml += "		<div class=\"col-sm-8\">";
				returnHtml += "			<label class=\"checkbox-inline\">";
				returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"file\" checked> 本地";
				returnHtml += "			</label>";
				returnHtml += "			<label class=\"checkbox-inline\">";
				returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"text\"> 远程";
				returnHtml += "			</label>";
				returnHtml += "			<input type=\"file\" id=\"video"+i+"_file\" name=\"video"+i+"_file\">";
				returnHtml += "			<input type=\"text\" id=\"video"+i+"_text\" name=\"video"+i+"_text\" value=\"\" class=\"form-control\" style=\"display:none\">";
				returnHtml += "		</div>";
				returnHtml += "	</div>";
			}
			for(i = 1; i <= data["template_image"]; i ++){
				returnHtml += "<div class=\"form-group\">";
				returnHtml += "	<label for=\"userid\" class=\"col-sm-3 control-label\">图片"+i+":</label>";
				returnHtml += "		<div class=\"col-sm-8\">";
				returnHtml += "			<label class=\"checkbox-inline\">";
				returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"file\" checked> 本地";
				returnHtml += "			</label>";
				returnHtml += "			<label class=\"checkbox-inline\">";
				returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"text\"> 远程";
				returnHtml += "			</label>";
				returnHtml += "			<input type=\"file\" id=\"image"+i+"_file\" name=\"image"+i+"_file\">";
				returnHtml += "			<input type=\"text\" id=\"image"+i+"_text\" name=\"image"+i+"_text\" value=\"\" class=\"form-control\" style=\"display:none\">";
				returnHtml += "		</div>";
				returnHtml += "	</div>";
			}
		}else{
			for(i = 1; i <= data["template_video"]; i ++){
				var videoSult = data['tplObj']["video"+i];
				returnHtml += "<div class=\"form-group\">";
				returnHtml += "	<label for=\"userid\" class=\"col-sm-3 control-label\">视频"+i+":</label>";
				returnHtml += "		<div class=\"col-sm-8\">";
				returnHtml += "			<label class=\"checkbox-inline\">";
				if(videoSult != "" && videoSult != null){
					if(videoSult.substring(0, 4) != "http"){
						returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"file\" checked> 本地";
					}else{
						returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"file\"> 本地";
					}
				}else{
					returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"file\" checked> 本地";
				}
				returnHtml += "			</label>";
				returnHtml += "			<label class=\"checkbox-inline\">";
				if(videoSult != "" && videoSult != null){
					if(videoSult.substring(0, 4) == "http"){
						returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"text\" checked> 远程";
					}else{
						returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"text\"> 远程";
					}
				}else{
					returnHtml += "				<input type=\"radio\" name=\"video"+i+"\" value=\"text\"> 远程";
				}
				returnHtml += "			</label>";
				if(videoSult != "" && videoSult != null){
					if(videoSult.substring(0, 4) != "http"){
						returnHtml += "				<input type=\"file\" id=\"video"+i+"_file\" name=\"video"+i+"_file\">";
					}else{
						returnHtml += "				<input type=\"file\" id=\"video"+i+"_file\" name=\"video"+i+"_file\" style=\"display:none\">";
					}
				}else{
					returnHtml += "				<input type=\"file\" id=\"video"+i+"_file\" name=\"video"+i+"_file\">";
				}
				if(videoSult != "" && videoSult != null){
					if(videoSult.substring(0, 4) == "http"){
						returnHtml += "				<input type=\"text\" id=\"video"+i+"_text\" name=\"video"+i+"_text\" value=\""+videoSult+"\" class=\"form-control\">";
					}else{
						returnHtml += "				<input type=\"text\" id=\"video"+i+"_text\" name=\"video"+i+"_text\" class=\"form-control\" style=\"display:none\">";
					}
				}else{
					returnHtml += "				<input type=\"text\" id=\"video"+i+"_text\" name=\"video"+i+"_file\" class=\"form-control\" style=\"display:none\">";
				}
				returnHtml += "		</div>";
				returnHtml += "	</div>";
			}
			for(i = 1; i <= data["template_image"]; i ++){
				var imageSult = data['tplObj']["image"+i];
				returnHtml += "<div class=\"form-group\">";
				returnHtml += "	<label for=\"userid\" class=\"col-sm-3 control-label\">图片"+i+":</label>";
				returnHtml += "		<div class=\"col-sm-8\">";
				returnHtml += "			<label class=\"checkbox-inline\">";
				if(imageSult != "" && imageSult != null){
					if(imageSult.substring(0, 4) != "http"){
						returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"file\" checked> 本地";
					}else{
						returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"file\"> 本地";
					}
				}else{
					returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"file\" checked> 本地";
				}
				returnHtml += "			</label>";
				returnHtml += "			<label class=\"checkbox-inline\">";
				if(imageSult != "" && imageSult != null){
					if(imageSult.substring(0, 4) == "http"){
						returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"text\" checked> 远程";
					}else{
						returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"text\"> 远程";
					}
				}else{
					returnHtml += "				<input type=\"radio\" name=\"image"+i+"\" value=\"text\"> 远程";
				}
				returnHtml += "			</label>";
				if(imageSult != "" && imageSult != null){
					if(imageSult.substring(0, 4) != "http"){
						returnHtml += "				<input type=\"file\" id=\"image"+i+"_file\" name=\"image"+i+"_file\">";
						if(imageSult){
							returnHtml += "<img src=\"/upload/"+imageSult+"\" width=\"100\" height=\"50\">";
						}
					}else{
						returnHtml += "				<input type=\"file\" id=\"image"+i+"_file\" name=\"image"+i+"_file\" style=\"display:none\">";
					}
				}else{
					returnHtml += "				<input type=\"file\" id=\"image"+i+"_file\" name=\"image"+i+"_file\">";
				}
				if(imageSult != "" && imageSult != null){
					if(imageSult.substring(0, 4) == "http"){
						returnHtml += "				<input type=\"text\" id=\"image"+i+"_text\" name=\"image"+i+"_text\" value=\""+imageSult+"\" class=\"form-control\">";
					}else{
						returnHtml += "				<input type=\"text\" id=\"image"+i+"_text\" name=\"image"+i+"_text\" class=\"form-control\" style=\"display:none\">";
					}
				}else{
					returnHtml += "				<input type=\"text\" id=\"image"+i+"_text\" name=\"image"+i+"_file\" class=\"form-control\" style=\"display:none\">";
				}
				returnHtml += "		</div>";
				returnHtml += "	</div>";
			}
		}
		for(i = 1; i <= data["template_word"]; i ++){
			var adsSult = data['tplObj']["word"+i];
			returnHtml += "<div class=\"form-group\">";
			returnHtml += "	<label for=\"userid\" class=\"col-sm-3 control-label\">广告词"+i+":</label>";
			returnHtml += "		<div class=\"col-sm-8\">";
			if(adsSult != "" && adsSult != null){
				returnHtml += "			<input type=\"text\" id=\"ads"+i+"_text\" name=\"ads"+i+"_text\" value=\""+adsSult+"\" class=\"form-control\">";
			}else{
				returnHtml += "			<input type=\"text\" id=\"ads"+i+"_text\" name=\"ads"+i+"_text\" value=\"\" class=\"form-control\">";
			}
			returnHtml += "		</div>";
			returnHtml += "	</div>";
		}
		$("div[name=show_temp_detail_div]").html(returnHtml);
		for(i = 1; i <= data["template_video"]; i ++){
			checkSrc("video" + i);
		}
		for(i = 1; i <= data["template_image"]; i ++){
			checkSrc("image" + i);
		}
	});
}
function checkSrc(radioName){
	$("input[name="+radioName+"]").click(function(){
		video_type = $("input[name="+radioName+"]:checked").val();
		if(video_type == "text"){
			$("#"+radioName+"_text").css('display','block');
			$("#"+radioName+"_file").css('display','none');
		}
		if(video_type == "file"){
			$("#"+radioName+"_text").css('display','none');
			$("#"+radioName+"_file").css('display','block');
		}
	});
}
</script>